body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
    color: #597a5a !important;
}

.ant-menu-item-active {
    border-bottom: 1px solid #597a5a !important;
}

.ant-menu {
    border-bottom: 0 !important;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.7em;
    }
}

@font-face {
    font-family: "Humane-SemiBold";
    src: local("Humane-SemiBold"),
    url("fonts/Humane-SemiBold.ttf") format("truetype");
}